@import "settings/settings";
@import "tools/tools";
@import "generic/generic";
@import "elements/elements";
@import "objects/objects";
@import "components/components";
@import "themes/themes";
@import "trumps/trumps";
//
// *
//
// *
// Aggregate file SASS.
//
// *
//


// Let's go..
.header{
  &-top{
    padding: 10px 0;
    &__select{
      display: inline-block;
      seclect{
        color:red;
      }
    }
  }
}
//End Header Top
