//
//
// Setting biến toàn cục cho toàn bộ dự án
// nơi cài đặt các giá trị biến global sử dụng cho tổng quan dự án như màu sắc, khoảng cách...
//Vd:
@font-face {
  font-family: 'Raleway', sans-serif;
}
@font-face {
  font-family: 'Work Sans', sans-serif;
}
@font-face {
  font-family: 'Montserrat', sans-serif;
}
@font-face{
  font-family: 'Rymiad-pro', sans-serif;
  src: url(font/Font-text/MyriadPro-Regualar.otf);
}

/*
Corlor...
*/
$primary-green :#62ceaa;
$primary-grey :#dadada;
$primary-blue :#3354a5;
$primary-black :#101010;
$primary-white : #ffffff;
$primary-blue_dark: #263c63;
$primary-grey_dark :#696969;


// Font size
$size-10: 10px;
$size-11: 11px;
$size-12: 12px;
$size-13: 13px;
$size-14: 14px;
$size-16: 16px;
$size-17: 17px;
$size-18: 18px;
$size-19: 19px;
$size-20: 20px;
$size-21: 21px;
$size-22: 22px;
$size-23: 23px;
$size-24: 24px;
$size-25: 25px;
$size-26: 26px;
$size-27: 27px;
$size-28: 28px;
$size-29: 27px;
$size-30: 30px;
$size-36: 36px;
$size-44 :44px;
$size-54: 54px;
$size-60: 60px;
$size-72: 72px;
$size-80 :80px;
// Font...
$font-raleway: 'Raleway', sans-serif;
$font-worksans: 'Work Sans', sans-serif;
$font-montserrat:'Montserrat', sans-serif;
$font-myriad:'Rymiad-pro', sans-serif;
